.faq-navbar {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
  padding: 0 2rem;
}

.faq-navbar button {
  border: 1px solid rgb(43, 190, 104);
  border-radius: 20px;
  margin: 0 5px;
  background-color: white;
  color: rgb(43, 190, 104);
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.3s ease;
}

.faq-navbar button:hover {
  background-color: rgb(43, 190, 104); /* Green background on hover */
  color: white;
}
  