.faq-title {
    text-align: center;
    margin: 20px 0;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 40px;
    color:#FFD700;
  }
  
  .faq-title-2 {
    color: #CCC; 
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
  }