.sdg-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    color: rgb(62, 170, 89); 
    font-weight: bold;
    padding: 10px; 
  }

  .sdg-title-2{
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 80px;
    color: rgb(10, 11, 112);
  }
  .container-fluid {
    padding: 0 15px; 
  }
  
  .sdg-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-between;
  }