.sdg-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 45px;
    color: #28a027; 
    font-weight: bold;
    padding: 10px; 
  }

  .sdg-title-2{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 80px;
    color: #FFD700;
  }
  .container-fluid {
    padding: 0 15px; 
  }
  
  .sdg-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-between;
    padding-left: 4rem;
  }


  @media screen and (max-width:500px){
      .sdg-row{
        

      }
  }