
.fixed-cont-bar{
    display: flex;
    z-index: 500;
    flex-direction: column;
  
  }
  
  .sc-ul{
    list-style: none;
    border: 5px solid #ffffff;
    border-radius: 5px;
    border-left: 0;
    background-color: #000000;
    width: 50px;
    padding: 0;
   z-index: 500;
    left: 0;
    top: 70%;
    position: fixed;
    text-align: center;
  }
  
  .sc-list{
    border-bottom: 3px solid rgb(10, 118, 4);
    height: 50px;
    font-size: 2rem;
  }
  
  a{
    text-decoration: none;
  }