
.fixed-cont-bar{
    display: flex;
    z-index: 500;
    flex-direction: column;
  
  }
  
  .sc-ul{
    list-style: none;
    border: 2px solid #6e6d6d;
    border-radius: 5px;
    border-left: 0;
    background-color: #000000;
    width: 50px;
    padding: 0;
   z-index: 500;
    left: 0;
    top: 50%;
    position: fixed;
    text-align: center;
  }
  
  .sc-list{
    border-bottom: 1px solid rgb(108, 106, 106);
    height: 60px;
    font-size: 2rem;
  }
  
  a{
    text-decoration: none;
  }


  .iconn{
    height: 45px;
    padding-left: 2px;
    padding-top: 5px;

    display: block;
  }