.video-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;

}

.responsive-video {
  width: 100%;
  position: relative;
  left: 6%;
  height: 80vh;
}

.play-button-overlay {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.play-button {
  width: 100px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  cursor: pointer;
}


.heading-video{
  color: #FFD700;
  font-size: 4.5em;
  width: 51rem;
  line-height: 6rem;
  padding-top: 8rem;
  padding-left: 2.8rem;
  font-weight: 600;
}